<ul>
  <% @bookmarks.each do |bookmark| %>
  <li>
  <a href="<%= bookmark.url %>">
    <%= bookmark.title %>
    </a>
    </li>
  <% end %>
  <form method="get" action = "bookmarks/new" >
    <button type = "submit" > Add a bookmark </button>
    </form>
</ul>
